<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Set meta data and SEO data -->
    <title>{{ site.title }}'s Homepage</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.title }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}"/>
    {% endif %}
    <link rel="icon" href="{{ site.url }}/{{ site.favicon }}" type="image/png" />
  </head>

  <body>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/homepage_style.css">

    <script src="./assets/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#fff',
        innerHTML: 'Back to Top',
        textColor: '#333'
      })
    </script>
    <style>
        #back-to-top {
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 15px;
          width: 100px;
          text-align: center;
          line-height: 30px;
          height: 30px;
        }
    </style>

    <div class="top-nav"> 
      <!-- Render top navigation -->
      {% include navigation.md %}
    </div>

    <div class="wrapper">
      <header>
        <!-- Render sidebar -->
        {% include sidebar.md %}  
      </header>

      <section>
        <!-- Render biography -->
        {% include about.md %}
      
        <!-- Render publication list -->
        <!-- {% include publications.md %}-->
        {% include selected_publications.md %}

        <!-- Render service list -->
        {% include services.md %}
        
        <!-- Render post list -->
        <!-- {% include posts.md %} -->
      </section>
    </div>
  </body>
</html>
